@import "tailwindcss";

@theme {
  --color-whitebg: #d9eafd;
  --color-bluebg: #001a57;
  --color-fontBlue: #9aa6b2;
}
body {
  background-color: #f8fafc;
}

.background-section {
  background-image: url("/Assets/HomePage/LandingPage-1.jpg"); /* Replace with your image path */
}

@media (max-width: 512px) {
  .bg-custom {
    background-position: -700px center;
  }
}
